<% @title = _('Request statistics') %>

<h1><%= _('Request statistics') %></h1>

<h2><%= _('Overall') %></h2>
<p><%= _('Total requests: {{number_of_requests}}', :number_of_requests => @overall_total) %></p>
<p><%= _('All requests by status of the request') %></p>
<div id="overall_stats_graph" class="requestsGraph" style="width: 700px; height: 400px" data-graph-stats="<%= @overall_stats.to_json %>">
    <table id="overall_stats_table">
        <% @overall_stats.each do |stat| %>
            <tr>
                <th><%= stat[:label] %></th>
                <td><%= stat[:data] %></td>
            </tr>
        <% end %>
    </table>
</div>

<h3><%= _('Denials') %></h3>
<p><%= _('Denied requests by denial reason') %></p>
<div id="denials_stats_graph" class="requestsGraph" style="width: 700px; height: 400px" data-graph-stats="<%= @overall_denied_by_reason.to_json %>">
    <table id="denials_stats_table">
        <% @overall_denied_by_reason.each do |stat| %>
            <tr>
                <th><%= stat[:label] %></th>
                <td><%= stat[:data] %></td>
            </tr>
        <% end %>
    </table>
</div>

<%= javascript_include_tag 'jquery.flot.js' %>
<%= javascript_include_tag 'jquery.flot.pie.js' %>
<!--[if lte IE 8]><%= javascript_include_tag "excanvas.min.js" %><![endif]-->

<script type="text/javascript">
(function($) {
    var drawGraph = function drawGraph(index, container) {
        var $container = $(container);
        console.log($container.data('graphStats'));
        var data = $container.data('graphStats');
        var graphOptions = {
            series: {
                pie: {
                    innerRadius: 0.5,
                    show: true
                },
            }
        };
        $.plot($container, data, graphOptions);
    };

    $(function() {
        $('.requestsGraph').each(drawGraph);
    });
})($);
</script>
