<% @title = _('Request statistics') %>

<h1><%= _('Request statistics') %></h1>

<h2><%= _('Overall') %></h2>
<p><%= _('Total requests: {{number_of_requests}}', :number_of_requests => @overall_total) %></p>
<p><%= _('All requests by status of the request') %></p>
<div id="overall_stats_graph" class="requestsGraph" style="width: 700px; height: 400px" data-graph-stats="<%= @overall_stats.to_json %>">
    <table id="overall_stats_table">
        <% @overall_stats.each do |stat| %>
            <tr>
                <th><%= stat[:label] %></th>
                <td><%= stat[:data] %></td>
            </tr>
        <% end %>
    </table>
</div>

<h3><%= _('Denials') %></h3>
<p><%= _('Denied requests by denial reason') %></p>
<div id="denials_stats_graph" class="requestsGraph" style="width: 700px; height: 400px" data-graph-stats="<%= @overall_denied_by_reason.to_json %>">
    <table id="denials_stats_table">
        <% @overall_denied_by_reason.each do |stat| %>
            <tr>
                <th><%= stat[:label] %></th>
                <td><%= stat[:data] %></td>
            </tr>
        <% end %>
    </table>
</div>

<h2><%= _('Per-Body') %></h3>
<p><%= _('Select a body to view') %></p>
<%= form_tag(request_statistics_path, :method => :get) do %>
    <%= label_tag(:body, _('Body: ')) %>
    <%= select_tag(:body, options_for_select(@body_options)) %>
    <input type="submit" value="<%= _('Submit') %>"/>
<% end %>

<% if @body %>
<h3><%= @body.name %></h3>
<h4>Overall</h4>
<p><%= _('Total requests for {{name_of_body}}: {{number_of_requests}}', :name_of_body => @body.name, :number_of_requests => @body_total) %></p>
<p><%= _('All requests for {{name_of_body}} by status of the request', :name_of_body => @body.name) %></p>
<div id="body_overall_stats_graph" class="requestsGraph" style="width: 700px; height: 400px" data-graph-stats="<%= @body_overall_stats.to_json %>">
    <table id="body_overall_stats_table">
        <% @body_overall_stats.each do |stat| %>
            <tr>
                <th><%= stat[:label] %></th>
                <td><%= stat[:data] %></td>
            </tr>
        <% end %>
    </table>
</div>

<h4>Denials</h4>
<p><%= _('Denied requests for {{name_of_body}} by denial reason', :name_of_body => @body.name) %></p>
<div id="body_denials_stats_graph" class="requestsGraph" style="width: 700px; height: 400px" data-graph-stats="<%= @body_denied_by_reason.to_json %>">
    <table id="body_denials_stats_table">
        <% @body_denied_by_reason.each do |stat| %>
            <tr>
                <th><%= stat[:label] %></th>
                <td><%= stat[:data] %></td>
            </tr>
        <% end %>
    </table>
</div>
<% end %>

<%= javascript_include_tag 'jquery.flot.js' %>
<%= javascript_include_tag 'jquery.flot.pie.js' %>
<!--[if lte IE 8]><%= javascript_include_tag "excanvas.min.js" %><![endif]-->

<script type="text/javascript">
(function($) {
    var drawGraph = function drawGraph(index, container) {
        var $container = $(container);
        var data = $container.data('graphStats');
        var graphOptions = {
            series: {
                pie: {
                    innerRadius: 0.5,
                    show: true
                },
            }
        };
        $.plot($container, data, graphOptions);
    };

    $(function() {
        $('.requestsGraph').each(drawGraph);
    });
})($);
</script>
