<!-- this doesn't belong here - just for testing -->
<style>
  #pie {
    width: 550px;
    height: 363px;
    margin: 2em;
  }
</style>

<h2><%= @public_body.name %> <%= _('has received') %> <%= stats[:total] %> <%= _('request').pluralize %></h2>

<div id="pie"></div>

<script src="/assets/jquery.flot.min.js?body=1" type="text/javascript"></script>
<script src="/assets/jquery.flot.pie.js?body=1" type="text/javascript"></script>

<% simple_data = %Q|
[
  { label: '#{_("Successful")}', data: #{stats[:success] + stats[:partial_success]}, ident: 'success', color: '#aab26e' },
  { label: '#{_("Unsuccessful")}', data: #{stats[:rejected] + stats[:not_held] + stats[:withdrawn]}, ident: 'unsuccessful', color: '#ff7959' },
  { label: '#{_("Unresolved")}', data: #{stats[:waiting_classification] + stats[:attention_requested] + stats[:requires_admin] + stats[:internal_review] + stats[:waiting_clarification] + stats[:gone_postal] + stats[:in_error] + stats[:waiting_response]}, ident: 'unresolved', color: '#e69e5d' }
]|
%>

<script type="text/javascript">
  (function() {
    $(document).ready(function() {
      var placeholder = $("#pie");
      var data = <%= simple_data.html_safe %>;

      placeholder.unbind();

      $.plot(placeholder, data, {
        series: {
          pie: {
            show: true
          }
        },
        grid: {
          hoverable: false,
          clickable: false
        }
      });
    });
  })();
</script>