<h2><%= @public_body.name %> <%= _('has received') %> <%= stats[:total] %> <%= _('request').pluralize %></h2>

<p>
    <%= stats[:success] + stats[:partial_success] %> <%= _('successful') %>
</p>

<p>
    <%= stats[:rejected] + stats[:not_held] + stats[:withdrawn] %> <%= _('unsuccessful') %>
</p>

<p>
    <%= stats[:waiting_classification] + stats[:attention_requested] + stats[:requires_admin] + stats[:internal_review] + stats[:waiting_clarification] + stats[:gone_postal] + stats[:in_error] + stats[:waiting_response] %> <%= _('unresolved') %>
</p>