<%
@title = h(@public_body.name) + _(" - view and make Freedom of Information requests")
stats = @public_body.get_stats
successful = stats[:success] + stats[:partial_success]
unsuccessful = stats[:rejected] + stats[:not_held] + stats[:withdrawn]
unresolved = stats[:waiting_classification] + stats[:attention_requested] + stats[:requires_admin] + stats[:internal_review] + stats[:waiting_clarification] + stats[:gone_postal] + stats[:in_error] + stats[:waiting_response]
simple_data = [
  [_("Successful"), successful],
  [_("Unsuccessful"), unsuccessful],
  [_("Unresolved"), unresolved]
]
%>

<% if flash[:search_params] %>
  <div class="back-to-results">
    <div class="message">
      <%= link_to select_authority_path(flash[:search_params]) do %>
        <%= _('« Back to search results') %>
      <% end %>
    </div>
  </div>
<% end %>

<div class="authority__header">
    <div id="header_right">
      <h2 class="stats-chart__header"><%= _("Request outcomes") %></h2>
      <div id="stats_chart" data-stats="<%= simple_data.to_json  %>">
        <table class="stats_chart__table">
          <tr>
            <th>Outcome</th><th>Number of requests</th>
          </tr>
          <tr>
            <td class="stats_chart__table__left"><%= _("Successful") %></td>
            <td class="stats_chart__table__right"><%= successful %></td>
          </tr>
          <tr>
            <td class="stats_chart__table__left"><%= _("Unsuccessful") %></td>
            <td class="stats_chart__table__right"><%= unsuccessful %></td>
          </tr>
          <tr>
            <td class="stats_chart__table__left"><%= _("Unresolved") %></td>
            <td class="stats_chart__table__right"><%= unresolved %></td>
          </tr>
        </table>
      </div>
    </div>

    <div id="header_left">
      <h1><%= h(@public_body.name) %></h1>
      <p class="authority__header__subtitle">
          <%= type_of_authority(@public_body) %><% unless @public_body.short_name.empty? %>,
          <%= _('also called {{public_body_short_name}}', :public_body_short_name => h(@public_body.short_name)) %>
          <% end %>

          <% if @user && @user.admin_page_links? %>
              (<%= link_to _("admin"), admin_body_path(@public_body) %>)
          <% end %>
      </p>

      <% if @public_body.has_notes? || @public_body.eir_only? || @public_body.special_not_requestable_reason? %>
        <div id="stepwise_make_request">
          <% if @public_body.has_notes? %>
            <p class="authority__header__notes">
              <%= @public_body.notes_as_html.html_safe %>
            </p>
          <% end %>

          <% if @public_body.is_requestable? %>
            <% if @public_body.eir_only? %>
              <p class="authority__header__notes">
                <%= _('You can only request information about the environment from this authority.')%>
              </p>
            <% end %>
          <% elsif @public_body.special_not_requestable_reason? %>
            <p class="authority__header__notes">
              <%= public_body_not_requestable_reasons(@public_body).first %>
            </p>
          <% end %>
        </div>
      <% end %>

      <% if @number_of_visible_requests > 0 %>
          <div class="authority__header__stats">
              <%= n_('{{count}} request',
                  '{{count}} requests',
                  @number_of_visible_requests,
                  :count => @number_of_visible_requests) %>
          </div>
      <% end %>

      <div id="stepwise_make_request">
          <% if @public_body.is_requestable? || @public_body.not_requestable_reason == 'bad_contact' %>
              <%= link_to _("Make a request to this authority"), new_request_to_body_path(:url_name => @public_body.url_name), :class => "link_button_green" %>
          <% elsif @public_body.has_notes? %>
              <%= @public_body.notes_as_html.html_safe %>
          <% end %>
      </div>
    </div>
</div>

<div class="authority__header">
    <div class="public-body__details">

        <div>
            <h2><%= _('Transparency Information') %></h2>
          <% if !@public_body.transparency_info_url.blank? %>
            <p><%= link_to _('View this authority’s Transparency Information'), @public_body.transparency_info_url %></p>
          <% else %>
            <p><%= _("We don’t have Transparency Information for this authority yet.") %></p>
          <% end %>
            <p>
                <%= _('All public authorities must disclose information about their organisation online.') %> <%= link_to _('Find out more.'), help_transparency_path %>
            </p>
        </div>

        <div>
            <h2><%= _('ATI Officer') %></h2>
          <% if !@public_body.ati_officer_details.blank? %>
              <%= simple_format(@public_body.ati_officer_details) %><br>
          <% else %>
              <%= _("We don’t have the ATI Officer details for this authority yet.") %>
          <% end %>
        </div>

        <div>
            <h2><%= _('Follow this authority')%></h2>

            <% follower_count = TrackThing.count(:all, :conditions => ["public_body_id = ?", @public_body.id]) %>
            <p>
                <%= n_("{{count}} person is following this authority.",
                "{{count}} people are following this authority.",
                follower_count,
                :count => follower_count) %>
            </p>

          <%# This bit of logic is stolen from track/tracking_links.html.erb in core alaveteli %>
          <%
              if @user
                  existing_track = TrackThing.find_existing(@user, @track_thing)
              end

              if existing_track %>
            <p><%= @track_thing.params[:verb_on_page_already] %></p>
            <p><%= link_to _("Unsubscribe"), {:controller => 'track', :action => 'update', :track_id => existing_track.id, :track_medium => "delete", :r => request.fullpath}, :class => "link_button_green" %></p>
          <% else %>
            <p><%= link_to _("Track requests to this authority"), do_track_path(@track_thing), :class => "link_button_green" %></p>
          <% end %>

            <ul class="public-body__links">
              <li>
                <%= link_to _('RSS feed of updates'),  do_track_path(@track_thing, 'feed') %>
                <%= link_to image_tag('feed-16.png', :alt => "RSS icon"), do_track_path(@track_thing, 'feed') %>
              </li>

              <% if !@public_body.calculated_home_page.nil? %>
                <li><%= link_to _('Home page of authority'), @public_body.calculated_home_page %></li>
              <% end %>

              <% if !@public_body.publication_scheme.empty? %>
                <li><%= link_to _('Publication scheme'), @public_body.publication_scheme %></li>
              <% end %>

              <% unless @public_body.disclosure_log.empty? %>
                <li><%= link_to _('Disclosure log'), @public_body.disclosure_log %></li>
              <% end %>

              <% if @public_body.has_tag?("charity") %>
                <% for tag_value in @public_body.get_tag_values("charity") %>
                  <% if tag_value.match(/^SC/) %>
                    <li><%= link_to _('Charity registration'), "http://www.oscr.org.uk/CharityIndexDetails.aspx?id=" + tag_value %></li>
                  <% else %>
                    <li><%= link_to _('Charity registration'), "http://www.charity-commission.gov.uk/SHOWCHARITY/RegisterOfCharities/CharityFramework.aspx?RegisteredCharityNumber=" + tag_value %></li>
                  <% end %>
                <% end %>
              <% end %>

                <li><%= link_to _('View FOI email address'), view_public_body_email_path(@public_body.url_name) %></li>
                <li><%= link_to _("Ask us to update FOI email"), new_change_request_path(:body => @public_body.url_name) %></li>
        </div>
    </div>
</div>

<div class="authority__body">
    <div class="authority__body__foi-results">
        <% if @number_of_visible_requests.zero? %>
            <% if @public_body.is_requestable? or @public_body.not_requestable_reason != 'defunct' %>
                <% if @public_body.eir_only? %>
                    <h2><%= _('Environmental Information Regulations requests made using this site') %></h2>
                    <p>Nobody has made any Environmental Information Regulations requests to <%=h(@public_body.name)%> using this site yet.</p>
                <% else %>
                    <h2><%= _('Freedom of Information requests made using this site')%></h2>
                    <p><%= _('Nobody has made any Freedom of Information requests to {{public_body_name}} using this site yet.', :public_body_name => h(@public_body.name))%></p>
                <% end %>
            <% end %>
        <% else %>
            <% unless @page_desc.blank? %>
              <h2 class="foi_results">
                <%= @page_desc %>
              </h2>
            <% end %>
            <a name="results"></a>

            <% if @number_of_visible_requests > 4 %>
                <%= render :partial => 'request/request_filter_form' %>
            <% end %>
        <% end %>

        <% if @xapian_requests %>
            <% @xapian_requests.results.each do |result| %>
                <%= render :partial => 'request/request_listing_via_event', :locals => { :event => result[:model] } %>
            <% end %>

            <%= will_paginate WillPaginate::Collection.new(@page, @per_page, @xapian_requests.matches_estimated) %>

            <% if @xapian_requests.results.empty? %>
                <p><% _('There were no requests matching your query.') %></p>
            <% else %>
                  <p>
                    <%= _('Only requests made using {{site_name}} are shown.', :site_name => site_name) %>
                    <%= link_to _('?'), help_about_path %>
                  </p>
            <% end %>

        <% else %>
            <% if @public_body.eir_only? %>
                <h2><%= _('Environmental Information Regulations requests made') %></h2>
            <% else %>
                <h2> <%= _('Freedom of Information requests made')%></h2>
            <% end %>
            <p> <%= _('The search index is currently offline, so we can\'t show the Freedom of Information requests that have been made to this authority.')%></p>
        <% end %>
    </div>

    <div class="authority__body__sidebar">
        <% if @number_of_visible_requests > 4 %>
            <%= render :partial => 'request/request_search_form' %>
        <% end %>

        <%= render :partial => 'more_info', :locals => { :public_body => @public_body } %>

        <%= render :partial => 'track/tracking_links',
                   :locals => { :track_thing => @track_thing,
                                :existing_track => @existing_track,
                                :own_request => false,
                                :location => 'sidebar' } %>
    </div>

</div>
