<div id="right_column_flip">
  <h2>Help pages</h2>
  <ul class="no_bullets">
    <li><%= link_to_unless_current "Introduction", help_about_path %></li>
    <li><%= link_to_unless_current "About the platform", help_alaveteli_path %></li>
    <li><%= link_to_unless_current "How to make a request", help_requesting_path %></li>
    <li><%= link_to_unless_current "Your privacy", help_privacy_path %></li>
    <li><%= link_to_unless_current "Access to Information Officers", help_officers_path %></li>
    <li><%= link_to_unless_current "FAQs", help_faq_path %></li>
    <li><%= link_to_unless_current "Transparency", help_transparency_path %></li>
    <li><%= link_to_unless_current "Comments and feedback", help_contact_path %></li>
    <li><%= link_to_unless_current "Legal support", help_legal_support_path %></li>
    <li><%= link_to_unless_current "Credits", help_credits_path %></li>
  </ul>

  <h2 id="contact">Contact us</h2>
  <p>If your question isn't answered here, or you just wanted to let us know
  something about the site, <a href="/help/contact">contact&nbsp;us</a>.
  </p>
</div>


