<div id="right_column_flip">
  <h2>Páginas de ayuda</h2>
  <ul class="no_bullets">
    <li><%= link_to_unless_current "Introducción", help_about_path %></li>
    <li><%= link_to_unless_current "Acerca de la plataforma", help_alaveteli_path %></li>
    <li><%= link_to_unless_current "Como realizar una Solicitud", help_requesting_path %></li>
    <li><%= link_to_unless_current "Su privacidad", help_privacy_path %></li>
    <li><%= link_to_unless_current "Oficial de información", help_officers_path %></li>
    <li><%= link_to_unless_current "Preguntas frecuentes", help_faq_path %></li>
    <li><%= link_to_unless_current "Transparencia", help_transparency_path %></li>
    <li><%= link_to_unless_current "Sustento legal", help_legal_support_path %></li>
    <li><%= link_to_unless_current "Créditos", help_credits_path %></li>
  </ul>

  <h2 id="contact">Contáctenos</h2>
  <p>Si no encuentra la respuesta a sus preguntas aquí, o simplemente desea hacernos saber algo sobre la plataforma, <a href="/help/contact">contáctenos</a>.
    </p>
</div>


