<% @title = "Statistics" %>
<div class="hero-unit">
  <h2><%=@public_body_count%> public authorities</h2>
  <h2><%=@info_request_count%> requests, <%=@outgoing_message_count%> outgoing messages, <%=@incoming_message_count%> incoming messages</h2>
  <h2><%=@user_count%> users, <%=@track_thing_count%> tracked things</h2>
  <h2><%=@comment_count%> annotations</h2>
</div>

<div class="row">
  <div class="span12">
    <h1>Statistics</h1>
    <h2>Chart of requests (excluding backpaged)</h2>
    <img src="/foi-live-creation.png" alt="Chart of requests">
  </div>
</div>
<div class="row">
  <div class="span12">
    <h2>State of requests (includes backpaged)</h2>
    <div class="container">
      <% for state, count in @request_by_state %>
        <div class="row">
          <div class="span1">
            <span class="label label-info"><%=count%></span>
          </div>
          <div class="span4">
            <%=state%>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="span12">
    <h2>Chart of users</h2>
    <img src="/foi-user-use.png" alt="Chart of users">
  </div>
</div>
<div class="row">
  <div class="span12">
    <h2>Tracks by type</h2>
    <div class="container">
      <% for state, count in @tracks_by_type %>
        <div class="row">
          <div class="span1">
            <span class="label label-info"><%=count%></span>
          </div>
          <div class="span4">
            <%=state%>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="span12">
    <h2>Web analytics</h2>
  </div>
</div>
<div class="row">
  <div class="span12">
    <h2>Downloads</h2>
    <h3>Month-by-Month transaction totals</h3>
    <p>A CSV file of the following totals:</p>
    <ul>
      <li>Requests</li>
      <li>Annotations</li>
      <li>Tracks</li>
      <li>Comments by a requester on their own request</li>
      <li>Follow ups</li>
    </ul>
    <p>You can specify a time range if you like, or use the defaults below, which cover all of the requests which have been made on this site.</p>
    <%= form_tag url_for(admin_stats_monthly_transactions_csv_path), :method => 'GET' do %>
      <div class="controls controls-row">
        <%= label_tag :start_year, "Start year", :class => "span2" %>
        <%= select_year(@first_request_datetime, {:field_name => :start_year, :start_year => @first_request_datetime.year, :end_year => Date.today.year}, {:class => "span2"}) %>

        <%= label_tag :start_month, "Start month", :class => "span2" %>
        <%= select_month(@first_request_datetime, {:field_name => :start_month}, {:class => "span2"}) %>
      </div>

      <div class="controls controls-row">
        <%= label_tag :end_year, 'End year', {:class => "span2"} %>
        <%= select_year(Date.today, {:field_name => :end_year, :start_year => @first_request_datetime.year, :end_year => Date.today.year}, {:class => "span2"}) %>

        <%= label_tag :end_month, 'End month', {:class => "span2"} %>
        <%= select_month(Date.today, {:field_name => :end_month}, {:class => "span2"}) %>
      </div>
      <div class="controls controls-row">
        <button type='submit' class="btn"><i class="icon-download"></i> Download</button>
      </div>
    <% end %>
  </div>
</div>
